<!-- inheriting base.html -->
{% extends "shared/base.html" %}

{% block title %} 
  <title>E-Banking</title>
{% endblock %} 

{% block content %} 
  <div class="container justify-center">
    <h1 class="display-4"> Welcome to E-Banking </h1>
  </div>
{% endblock %}